

img{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 2vh;
    height: 18vh;
    width: 25vw;

}

h1{
    margin-top: 5vh !important; 
    text-align: center;
}

h2{
    text-align: center;
}

h3{
     
    text-align: center;
}

/* Side menu */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: lightskyblue;
    color: #fff;
    transition: all 0.3s;
}

.row.filter{
    margin-left: 2vw;
    margin-top: 2vw;
}